body {
  
  
   background-image:url(https://directlinedev.com/media/services/service/background/background_16.wide.jpeg);
   font-family: "Montserrat",sans-serif;
   text-decoration : blink;
   font-size: x-large;
   color : white;
   
 }
 
h1{
font-size : 75px;
background : -webkit-linear-gradient(#5b86e5 , #36d1dc , #8e1eef);
-webkit-background-clip : text ; 
-webkit-text-fill-color : transparent;
}

